<a href="https://colab.research.google.com/github/SagarSitaula1/Discrete_math/blob/main/project7_Logic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project Part 7# : CPSMA 3133 [Dr. Jacob's](https://github.com/nurfnick) Discrete Mathematics 

## Logic

### Sagar Sitaula and 267865

For my proposotions, I will be looking at the different weather condition and my desire to leave my bed to go outside.

In [2]:
issunny = True
israiny = True
issnowy = False

Here, I have created different conditions and labled then with True and False, True being yes and False being No.The first is If I will go out if it is sunny, second is rainy and the third is snowny and are represented as True of false.True meaning yes and false meaning no.

Now, I will computing different truth statement for the above conditions.

$$p \land r$$

In [3]:
issunny and israiny

True

Now,

  $r \lor \lnot q $

In [4]:
israiny or not(issnowy)

True

Now, 


$r\Rightarrow p$

In [5]:
not(israiny) or issunny

True

Now, time for creating the truth table.

In [6]:
!pip install truth-table-generator
import ttg

Collecting truth-table-generator
  Downloading truth_table_generator-1.1.2.tar.gz (14 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (1.21.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (1.3.5)
Collecting PTable
  Downloading PTable-0.9.2.tar.gz (31 kB)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (3.0.7)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (0.8.9)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->truth-table-generator) (2.0.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->truth-table-generator) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->truth-table-generator) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->truth-table-generator) (1.15.0)
Building wheels for collected packages: truth-table-generator, PTable
  Building wheel for truth-table-generator (setup.py) ... done
  Created wheel for truth-table-generator: filename=truth_table_generator-1.1.2-py3-none-any.whl size=13960 sha256=03bb49229ed44fd1134b87ef3702c3fb24385d89fdb9c05bd46db52e11ff868e
  Stored in directory: /root/.cache/pip/wheels/9a/55/b5/77f5756832494eafda92c7a94c1365ac31088a18a3a97dd480
  Building wheel for PTable (setup.py) ... done
  Created wheel for PTable: filename=PTable-0.9.2-py3-none-any.whl size=22925 sha256=3ef88c2c252bc4f558b2858e8b1691311947c4fdf56acb97bb5f6c29247e4b57
  Stored in directory: /root/.cache/pip/wheels/33/df/2f/674985b3f8a2de3f96357d1eadef5110f74fa91b3785e52a54
Successfully built truth-table-generator PTable
Installing collected packages: PTable, truth-table-generator
Successfully installed PTable-0.9.2 truth-table-generator-1.1.2

In [7]:
table = ttg.Truths(['issunny', 'israiny', 'issnowy'], ['issunny xor israiny', '~(issunny xor israiny)', 'israiny or issnowy', '(~(issunny xor israiny)) => (israiny or issnowy)'], ints = False)
table.as_pandas().style.set_properties(**{'text-align': 'left'}).hide_index()

Above is the truth table for my propositions.