<a href="https://colab.research.google.com/github/SagarSitaula1/Discrete_math/blob/main/project6_numbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project Part 6 # : CPSMA 3133 [Dr. Jacob's](https://github.com/nurfnick) Discrete Mathematics 

## Numbers

### Sagar Sitaula and 267865

Here, I am going to convert number 24036 which is in base 7 to base 10.

In [ ]:
x = 0
y = 0
number = '24036'
base = 7
for c in map(int, number):
  y += 1
  x += c * (base**(len(number) - y))
x

6201

on the above calculation y is the number of count and x is the converted number.Both are set to zero which will run through the loop and convert the number into decimal which is base 10.

Similarly, I will be converting the hexadecimal number 72e3 into base 10.

In [ ]:
x = 0
y = 0
number = '72e3'
numberLength = len(number)

for i in number:
    
    y += 1
    if i == 'a':
      I = 10

    elif i == 'b':
      I = 11

    elif i == 'c':
      I = 12

    elif i == 'd':
      I = 13

    elif i == 'e':
      I = 14

    elif i == 'f':
      I = 15

    else:
      I = int(i)

    x += I * (16**(numberLength - y))
x

29411

Here on the code I have defined x and y as 0 and as they run through the loop the resulted are calculated. The tricky thing while converting a hexadecimal number is defining the letter with their corresponding numerical values.

Similarly, now I will be converting the number 3735928559 which is in base 10 to base 16(hexa decimal)

In [ ]:
number = 3735928559
x = 0
hex = ""
for k in range(0,8,1):
  numd = int(number%16)
  number = number - numd
  number = number/16
  if numd > 9:
    if numd == 10: numd = "A"
    elif numd == 11: numd = "B"
    elif numd == 12: numd = "C"
    elif numd == 13: numd = "D"
    elif numd == 14: numd = "E"
    elif numd == 15: numd = "F"
    elif numd == 16: numd = 10
    numd = str(numd)
  hex = numd+hex
print(hex)

DEADBEEF

Now, I will be calculating the two complement for 25 - 27. For calculating the two's complement I will be utilizing the built in python function.

In [1]:
a = 25
b = 37
ones_b = ~b
twos_b = ones_b+1
output = a+twos_b
print(output)

-12

On the code above, I calculated a one's complement first and stored the the output after calculating the two's complement which gave -12 as the answer.

I really enjoyed this project, the conversion can be calculated using different method like mathmatially calculated by multiplying by their respective base number, but on my I have used different foor loop to calculate and store the conversion.